$mainColor: #fff;
$secondaryColor: #f97c00;
$footerColor: rgb(76, 76, 76);

$fontSize0: 12px;
$fontSize1: 14px;
$fontSize1_5: 16px;
$fontSize2: 18px;
$fontSize3: 20px;

$minContainerWidth: 1000px;
$maxContainerWidth: 1000px;
$smallWidth: 960px;
$logoWidth: 78px;
$logoHeight: 78px;
$footerHeight: 100px;

$logoFloat: left;
$contactFloat: right;

$asideLinkSize: 40px;
$pic: 'Столбики', 'Барьеры', 'Конусы', 'Полусферы', 'ВазоныБетонные', 'УрныБетонные', 'УличныеСкамейки', 'ДорожныеЗнаки', 'СеткиПластиковые', 'ЛентаСигнальная', 'АвтоматическиеШлагбаумы', 'Турникеты', 'ПриводыдляВорот', 'ЛежачийПолицейский';

html {
	height: 100%;
	font-family: 'PT_Sans';
}

body {
	height: 100%;
	font-size: $fontSize1;
	color: $mainColor;
	background: url('../img/bg/bg6.png');
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Mixins */
@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

/* Общие классы */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none !important;
}

.strong {
	font-weight: bold;
}

/* Основные классы */

.mainWrapper {
	display: block;
	position: relative;
	min-height: 100%;
	height: auto !important;
	min-width: $minContainerWidth;

	&:after {
		content: "";
		display: block;
		height: $footerHeight;
	}
}

.container {
	display: block;
	position: relative;
	margin: 0 auto;
	min-width: $minContainerWidth;
	max-width: $maxContainerWidth;
}

.sm__padding-left {
	@media only screen and (max-width: $minContainerWidth) {
		padding-left: 10px;
	}
}

.sm__padding-right {
	@media only screen and (max-width: $minContainerWidth) {
		padding-right: 10px;
	}
}

	.smallWidth {
		min-width: $smallWidth;
		max-width: $smallWidth;
	}
	
.section {
	display: block;
	position: relative;
	padding: 10px 20px;
	padding-bottom: 20px;
	background: $mainColor;
	box-shadow: 0px 6px 3px 4px #ccc;

	&__header {
		display: block;
		text-align: center;
		margin-bottom: 25px;
	}

		&__header-name {
			display: inline-block;
			padding: 5px 15px;
			color: $secondaryColor;
			border-left: 2px solid $secondaryColor;
			border-right: 2px solid $secondaryColor;
			letter-spacing: 1px;
			border-radius: 5px;
			font-weight: normal;
		}

	&:hover .section__header-name {
		background: $secondaryColor;
		color: $mainColor;	
		transition: 0.4s;	
	}

	&:last-of-type {
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-radius: 0 0 10px 10px;
	}
}

	

		.userConnection {
			display: block;
			padding-top: 3px;
			text-align: center;

			&__button {
				display: inline-block;
				vertical-align: top;
				padding: 3px 5px;
				font-size: $fontSize1_5;
				border: none;
				border-radius: 3px;
				background: $secondaryColor;
				color: $mainColor;
				border: 2px solid $mainColor;
				letter-spacing: 1px;
				font-weight: bold;
			}

			&__button:hover {
				background: $mainColor;
				color: $secondaryColor;
				transition: 0.4s;
			}
		}

		

.orderCall__popup {
	display: none;
}

	.server-mes {
		
	}

		.succsess-mes {

		}

		.error-mes {

		}

.orderCall__form {
	display: block;
	position: relative;
	background: $mainColor;
	border-radius: 10px;
	width: 400px;
	padding: 30px;
	padding-bottom: 20px;
	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.137);


	&-label {
		display: block;
		font-size: $fontSize1_5;
		font-weight: bold;
		color: $secondaryColor;
		margin-bottom: 20px;
		text-align: right;
	}

		&-label-name {
			display: inline-block;
			margin-right: 15px;
		}

		&-label-input {
			display: inline-block;
			border: 2px solid $secondaryColor;
			border-radius: 3px;
			width: 200px;
			padding: 3px 5px;
		}

			&-label-input[placeholder] {
				color: $secondaryColor;
				font-weight: normal;
			}

	&-button {
		display: block;
		margin: 0 auto;
		border: none;
		background: $secondaryColor;
		font-size: $fontSize2;
		padding: 5px 20px;
		border-radius: 5px;
		box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.137);
	}
}

/* Main Header */
.mainHeader {
	display: block;
	position: relative;
	min-width: $minContainerWidth;

	.mainHeader__top {
		display: block;
		background: $footerColor;
		padding: 5px 0px;
	}

	.mainHeader__left {
		display: block;
		//width: 50%;
		float: left;
	}

	.mainHeader__right {
		display: block;
		//width: 50%;
		float: right;
	}

	.mainHeader__mail-list {
		display: inline-block;
		padding-left: 10px;
	}

	.mainHeader__mail-item {
		display: block;
	}

	.mainHeader__mail-link {
		display: block;
		text-decoration: none;
		color: $mainColor;
		font-size: $fontSize1_5;

		&:hover {
			text-decoration: underline;
		}
	}

	.city {
		display: inline-block;
		float: right;
		font-weight: normal;
		color: $mainColor;

		&__label {
			display: inline-block;
		}

		&__select {
			display: inline-block;
			margin-left: 10px;
			padding: 1px 3px;
			color: $secondaryColor;
			border-radius: 3px;
			outline: none;
			font-weight: bold;
		}

		&__option {
			color: $secondaryColor;
		}
	}

	.mainHeader__bottom {
		display: block;
		padding: 15px 0px;
	}

	.logo {
		display: inline-block;
		float: left;
		padding: 8px 30px;
		background: $secondaryColor;
		border-radius: 5px;
		box-shadow: 0px 0px 3px 4px #ccc;

		.logo__img {
			display: none;
			vertical-align: top;
			width: $logoWidth;
			height: $logoHeight;
			overflow: hidden;
		}

			.logo__img-pic {
				width: 100%;
			}

		.logo__text {
			display: inline-block;
			max-width: 500px;
			text-align: center;
			text-decoration: none;
			color: $mainColor;

		}

			.logo__text-name {
				margin: 0;
				//margin-bottom: 10px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-size: 36px;
			}

			.logo__text-descr {
				font-size: 15px;
				letter-spacing: 1px;
			}
	}

	.callUs {
	    display: block;
	    max-width: 400px;
	    float: left;
	    margin-left: 107px;
	    padding: 11px 60px;
	    background: #e6e6e6;
	    border-radius: 5px;
	    box-shadow: 0px 0px 3px 4px #ccc;

	    .callUs__text {
			color: #4c4c4c;
	    }

	    .callUs__text-name {
    	    display: block;
		    margin: 0;
		    text-align: center;
		    font-size: 26px;
	    }

	    .callUs__text-descr {
    	    display: block;
		    text-align: center;
		    font-size: 20px;
	    }
	}

	.contacts {
		display: inline-block;
		float: right;
		padding-top: 5px;
	}

	.contacts__tel {
		display: block;
		text-decoration: none;
		font-size: 34px;
		color: $footerColor;
		font-weight: light;
		margin-bottom: 4px;
		text-shadow: 0 0 2px #ccc;

		&:hover {
			text-decoration: underline;
		}
	}

	.contacts__strong {
		font-weight: bold;
		color: $secondaryColor;
	}

	.contacts__button {
		display: inline-block;
		padding: 2px 4px;
		text-decoration: none;
		color: $secondaryColor;
		border: 2px solid $secondaryColor;
		float: right;
		background: $mainColor;
		border-radius: 2px;
		box-shadow: 0 0 2px 2px #ccc;

		&:hover {
			background: $secondaryColor;
			color: $mainColor;
			transition: .4s;
		}
	}
}

			
/* Main Footer */

.mainFooter {
	display: block;
	position: relative;
	color: $mainColor;
	margin-top: -$footerHeight;
	height: $footerHeight;
	//background: $footerColor;
	background: url('../img/bg/bg5.png');
	min-width: $minContainerWidth;

	.mainFooter__top {
		.container {
			padding: 10px 0px;
		}
	}

	.adress {
		display: block;
		width: 50%;
		float: left;
	}

	.adress__list,
	.contacts__list {
		display: block;
		padding: 0;
		padding-top: 5px;
		margin-bottom: 0;
	}

	.adress__list {
		display: inline-block;
		padding-top: 15px;
	}

	.adress__list-item,
	.contacts__list-item {
		display: block;
		list-style: none;
		text-align: center;
		font-size: $fontSize2;
	}

	.contacts {
		display: block;
		float: right;
	}


	.contacts__list-link {
		font-size: $fontSize2;
		font-weight: normal;
		text-decoration: none;
		color: $mainColor;
		font-size: $fontSize1;

		&:hover {
			text-decoration: underline;
		}
	}

	.contacts__tel {
		font-size: 20px;
	}

	.contacts__strong {
		font-weight: bold;
		color: $secondaryColor;
	}
			
	.mainFooter__bottom {
		line-height: 20px;
		text-align: center;
		border-top: 1px solid $mainColor;
	}

	.copyright {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
	}
}


/* Main Nav */

.mainNav {
	display: block;
	position: relative;
	text-align: center;

	&__list {
		display: block;
		margin: 0;
		padding: 0;
		border: 2px solid $secondaryColor;
		background: $mainColor;
		border-radius: 5px 5px 0 0;
		box-shadow: 0px 0px 3px 4px #ccc;
	}

	&__item {
		width: $minContainerWidth / 5;
		display: block;
		float: left;
		margin-left: -1px;

		&:first-of-type {
			margin-left: 0;
		} 
	}

	&__link {
		display: block;
		//vertical-align: top;
		padding: 10px 0px;
		width: 100%;
		font-weight: bold;
		font-size: $fontSize2;
		line-height: $fontSize2 + 2;
		text-decoration: none;
		color: $mainColor;
		background: $secondaryColor;
		letter-spacing: 1px;
		transition: 0.3s;
	}

		&__link:hover {
			color: $secondaryColor;
			background: $mainColor;
		}
}

.mainNav__search {
	width: 400px;
	float: right;

	.gsc-control-cse {
		padding: 3px;
		font-family: 'PT_Sans';
	}

	form.gsc-search-box {
		margin-bottom: 0;
	}

	table.gsc-search-box {
		margin-bottom: 0;
	}

	td.gsc-search-button {
	    background-color: #F97C00;
	    padding: 3px 26px;
	    height: 23px;
	    display: inline-block;
	    margin-top: 1px;
	    border-radius: 3px;
	}

	input.gsc-search-button {
		margin-left: -5px;
		padding: 0px;
	}

	table.gsc-search-box td {
		padding-top: 2px;
	}

	.gsc-search-box-tools .gsc-search-box .gsc-input {
		padding-top: 0px;
		color: $footerColor;
	}
}

.mainHeader {
	.mainNav__search {
		width: 250px;

		.gsc-control-cse {
		    background: #4c4c4c;
    		border-color: #4c4c4c;
    		padding-top: 0px;
		}
	}
}


.aside {
	display: block;
	position: fixed;
	right: 0;
	width: 2 * $asideLinkSize + 13;
	@media only screen and (max-width: 1155px) { 
		display: none;
	}

	.aside__nav {
		display: block;
		position: relative;
	}

	.aside__list {
		display: block;
		position: relative;
		margin: 0;
		padding: 5px;
		padding-right: 0;
		//background: #F5F5F5;
		background: $mainColor;
		padding-bottom: 3px;
	}

	.aside__item {
		display: inline-block;
		list-style: none;
		margin-right: 2px;
		margin-bottom: 2px;
	}

		.aside__item:nth-of-type(2n) {
			margin-right: 0;
		}

		.aside__item-link {
			display: block;
			position: relative;
			width: $asideLinkSize;
			height: $asideLinkSize;
			text-decoration: none;
			border: 2px solid rgba(76, 76, 76, 0.4);
			border-radius: 3px;
			text-align: center;
			overflow: hidden;
		}

	.aside__item-img {
		height: 100%;
	}

		.aside__item-link:hover {
			border-color: $secondaryColor;
			transition: 0.4s;
			background-size: $asideLinkSize;
		}

		.aside__item-link:hover .aside__item-img {
			height: 110%;
			margin-left: -2px;
		}


	.aside__item-text {
		display: none;
	}
}

	.buttonUp {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 10%;
		min-width: 60px;
		cursor: pointer;
		transition: all .2s ease-in-out 0s;
		z-index: 3;
		display: none;

		&-body	{
			position: relative;
			top: 85%;
			left: 50%;
			margin-left: -30px;
			background: rgba(0,0,0,.25);
			height: 60px;
			width: 60px;
			border-radius: 50%;
			cursor: pointer;
			transition: all .2s ease-in-out 0s;
			z-index: 2;

			@media only screen and (max-height: 500px) {
				top: 80%;
			}

			@media only screen and (max-height: 350px) {
				top: 75%;
			}

		}

		&-triangleUp {
			position: relative;
			margin: auto;
			height: 0;
			width: 0;
			border: 15px solid transparent;
			border-bottom: 25px solid rgba(0,0,50,.35);
			transition: all .2s ease-in-out 0s;
			z-index: 1;
		}

		&-transform {
			//transform: matrix(1, 0, 0, -1, 0, 0);
			transform: matrix(-1, 0, 0, -1, 0, 0);
		}

		&:hover {
			background: rgba(249,144,0,.15);
		}

		.buttonUp:hover &-body {
			background: rgba(0,0,0,.25);
			border: 1px solid white;
		}

		.buttonUp:hover &-triangle {
			border-bottom: 25px solid rgba(0,0,50,.3);
		}
	}

