footer.mainFooter
	.mainFooter__top
		wrapper.container.clearfix
			wrapper.adress.sm__padding-left
				ul.adress__list
					li.adress__list-item.city-change.spb-city
						| Санкт-Петербург, ул Красная, дом 1
					li.adress__list-item.city-change.msc-city.hidden
						| Москва, ул Красная, дом 1
					li.adress__list-item.city-change.novosib-city.hidden
						| Новосибирск, ул Красная, дом 1
			wrapper.contacts.sm__padding-right
				ul.contacts__list
					li.contacts__list-item
						a(class="contacts__list-link contacts__tel", href="tel:+7(812)900-40-10") +7(812) 
							span.contacts__strong 900-40-10
					li.contacts__list-item.city-change.spb-city
						a(class="contacts__list-link", href="mailto:spb@9004010.ru") spb@9004010.ru
					li.contacts__list-item.city-change.msc-city.hidden
						a(class="contacts__list-link", href="mailto:msk@9004010.ru") msk@9004010.ru
					li.contacts__list-item.city-change.novosib-city.hidden
						a(class="contacts__list-link", href="mailto:novosib@9004010.ru") novosib@9004010.ru
	.mainFooter__bottom
		wrapper.container
			.copyright СТОЛБИК.РФ 2008-2015 &copy; 


