header#mainHeader.mainHeader
	wrapper.container.clearfix
		wrapper.logo
			.logo__img
				img(src="img/logo.jpg", class="logo__img-pic", alt="Лого")
			.logo__text
				h1.logo__text-name Ограждения и благоустройство
				span.logo__text-descr Парковочные барьеры, дорожные столбики, сигнальные конусы
		wrapper.contacts
			ul.contacts__list
				li.contacts__list-item
					a(class="contacts__list-link contacts__tel", href="tel:+7(812)900-40-10") +7(812)900-40-10
				li.contacts__list-item.city-change.spb-city
					a(class="contacts__list-link", href="mailto:spb@9004010.ru") spb@9004010.ru
				li.contacts__list-item.city-change.msc-city.hidden
					a(class="contacts__list-link", href="mailto:msk@9004010.ru") msk@9004010.ru
				li.contacts__list-item.city-change.novosib-city.hidden
					a(class="contacts__list-link", href="mailto:novosib@9004010.ru") novosib@9004010.ru
			.userConnection
				button.userConnection__button Заказать звонок
				
					
		