$mainColor: #fff;
$secondaryColor: #f97c00;
$footerColor: rgb(76, 76, 76);

$fontSize0: 12px;
$fontSize1: 14px;
$fontSize1_5: 16px;
$fontSize2: 18px;
$fontSize3: 20px;

$minContainerWidth: 1080px;
$maxContainerWidth: 1200px;
$smallWidth: 960px;