@font-face {
    font-family: 'PT_Sans';
    src: url('PT_Sans-Web-Regular.ttf') format('truetype');;
    /*src: url('firasans-two.eot');
    src: url('firasans-two.eot?#iefix') format('embedded-opentype'),
         url('firasans-two.woff') format('woff'),
         url('firasans-two.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans';
    src: url('PT_Sans-Web-Bold.ttf') format('truetype');;
    /*src: url('firasans-two.eot');
    src: url('firasans-two.eot?#iefix') format('embedded-opentype'),
         url('firasans-two.woff') format('woff'),
         url('firasans-two.ttf') format('truetype');*/
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans';
    src: url('PT_Sans-Web-Italic.ttf') format('truetype');;
    /*src: url('firasans-two.eot');
    src: url('firasans-two.eot?#iefix') format('embedded-opentype'),
         url('firasans-two.woff') format('woff'),
         url('firasans-two.ttf') format('truetype');*/
    font-weight: normal;
    font-style: italic;
}