extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Парковочные барьеры

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Барьеры'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Барьеры') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Барьер БТК.3', 'Барьер АБ.1', 'Барьер АБ.1.У', 'Барьер АБН.1']
			- var products__names = ['Барьер парковочный "треугольник"' ,'Стандартный парковочный барьер', 'Усиленный парковочный барьер', 'Парковочный барьер из нержавеющей стали']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'barieri/'
			- var products__images = ['1', '2', '3', '4']
			- var products__chars = ['Толщина стенки', 'Материал']
			- var products__values = [['3 мм', 'Сталь'], ['1,5 мм', 'Сталь'], ['3 мм', 'Сталь'], ['1,5 мм', 'Сталь']]
			- var products__prices = ['999', '1499', '1999', '3999']
			- var products__stage = ['299', '599', '599', '699']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Парковочные барьеры"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Парковочный барьер предназначен для резервирования Вашего парковочного места, а также зачастую используется в качестве шлагбаума. В последнее время в городе существенно увеличивается количество автомобилей. Владельцы автотранспорта стараются резервировать парковочные места на автостоянках и в подземных паркингах для предотвращения нежелательной парковки другими автомобилями. Наиболее бюджетным вариантом решения данной проблемы является складной парковочный барьер (антипарковщик).</p><p>Установка антипарковщика занимает не более 5 минут. Крепление парковочного барьера к асфальту или бетону производится при помощи шести анкеров.</p><p>В случае необходимости установки парковочного барьера на мягкий грунт анкеры Вам не помогут: необходимо вбивание длинных прутов арматуры сквозь крепежные отверстия барьера, а также приваривание при помощи дуговой сварки арматурных прутов к лапам парковочного барьера. В дальнейшем при помощи шлифовочного диска производится зачистка острых углов арматуры, иначе колеса автомобиля могут быть повреждены. Подобная установка стоит дороже и требует профессионального подхода.</p><p>Опытные мастера нашей компании готовы осуществить оперативную установку парковочных барьеров как на асфальт, так и на грунт.</p><p>В суровых зимних условиях на парковочные барьеры действуют песок, соли и реагенты, благодаря которым происходит коррозия металла ограждений. Поэтому антипарковщики нашей компании обработаны грунтом с применением цинка, после чего покрашены порошком. Данный вид обработки поверхности изделий повышает коррозионную стойкость и долговечность. Парковочные барьеры сохраняют привлекательные внешний вид на протяжении нескольких лет эксплуатации. Для особо сложных условий эксплуатации мы предлагаем изделия из нержавеющей стали. Стоимость изделий из «нержавейки» обговаривается отдельно для каждого заказа.</p><p>На каждый парковочный барьер нанесены 3 контрастные наклейки для обозначения ограждения в ночное время.</p><p>Парковочные барьеры в своей основе подразделяются на стандартные и усиленные. Стандартный парковочный барьер имеет толщину стенки трубы 1,5мм, усиленный – 3мм. Соответственно цена усиленного складного антипарковщика выше.</p><p>Цена барьера, а также стоимость установки зависит от количества устанавливаемых изделий. Подробная информация о стоимости парковочных барьеров, а также о стоимости установки в зависимости от количества заказываемых антипарковщиков приведена в таблице:</p><p></p><p>Наличие парковочных барьеров на нашем складе просьба узнавать по телефону или по электронной почте. В случае отсутствия товара на складе компании, наши сотрудники сообщат Вам сроки изготовления необходимых ограждений.</p><p>Монтажные бригады нашей компании готовы оперативно выехать к Вам и установить нужные парковочные барьеры на Ваш объект.</p><p>Также мы рекомендуем обратить внимание на <a href="#">бетонные полусферы</a>, <a href="#">парковочные столбики</a> и <a href="#">передвижные парковочные конусы</a> производства нашей компании.</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)