extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/index.css")

block title
	| Помощь в получении СРО

block main-content
	section.section
		header.section__header
			h2.section__header-name Доставка товаров по Санкт-Петербургу и Ленинградской области

block personalScript
	script(src="js/index.js")

