extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/index.css")

block title
	| Товары

block main-content
	section.section.goods#goods
		header.section__header
			h2.section__header-name Категории товаров
		ul.list.goods__list
			- var goods = {'stolbik-kupit-cena-parkovochnyj-dorozhnyj-plastikovyj': 'Столбики','barjer-kupit-cena-parkovochnyj-skladnoy': 'Барьеры','konus-kupit-cena-parkovochnyj-dorozhnyj-signalnyj': 'Конусы', 'polusfera-betonnaya-kupit-cena-parkovochnaja-dorozhnaja': 'Полусферы', 'vazon-betonnyj-kupit-cena-dlja-cvetov': 'Вазоны Бетонные', 'urna-betonnaya-kupit-cena-dlja-musora': 'Урны Бетонные','skameyka-betonnaya-kupit-cena-parkovaya-sadovaya-lavka': 'Уличные Скамейки', 'Znaki': 'Дорожные Знаки', 'setka': 'СеткиПластиковые', 'lenta': 'Лента Сигнальная', 'shlagbaum': 'Автоматические Шлагбаумы', 'turniket': 'Турникеты', 'privodi': 'Приводы для Ворот', 'police': 'Лежачий Полицейский'}
			each val, index in goods
				li.list__item.goods__item
					a(class="goods__link", href= index + '.html')
						wrapper.goods__img-wrapper
							img(src='img/goods/' + index + '.jpg', class="goods__img", alt= val)
						span.goods__text= val

block personalScript
	script(src="js/index.js")

