extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="bower/slick-carousel/slick/slick.css")
	link(rel="stylesheet", type="text/css", href="bower/slick-carousel/slick/slick-theme.css")
	link(rel="stylesheet", type="text/css", href="css/index.css")

block title
	| Ограждения и благоустройство

block main-content
	section.section.goods#goods
		header.section__header
			h2.section__header-name Категории товаров
		ul.list.goods__list
			- var goods = {'stolbik-kupit-cena-parkovochnyj-dorozhnyj-plastikovyj': 'Столбики','barjer-kupit-cena-parkovochnyj-skladnoy': 'Барьеры','konus-kupit-cena-parkovochnyj-dorozhnyj-signalnyj': 'Конусы', 'polusfera-betonnaya-kupit-cena-parkovochnaja-dorozhnaja': 'Полусферы', 'vazon-betonnyj-kupit-cena-dlja-cvetov': 'Вазоны Бетонные', 'urna-betonnaya-kupit-cena-dlja-musora': 'Урны Бетонные','skameyka-betonnaya-kupit-cena-parkovaya-sadovaya-lavka': 'Уличные Скамейки', 'znak': 'Дорожные Знаки', 'setka': 'Сетки Пластиковые', 'lenta': 'Лента Сигнальная', 'shlagbaum': 'Автоматические Шлагбаумы', 'turniket': 'Турникеты', 'privodi': 'Приводы для Ворот', 'police': 'Лежачий Полицейский'}
			each val, index in goods
				li.list__item.goods__item
					a(class="goods__link", href= index + '.html')
						wrapper.goods__img-wrapper
							img(src='img/goods/' + index + '.jpg', class="goods__img", alt= val)
						span.goods__text= val

	section.section.service#service
		header.section__header
			h2.section__header-name Предоставляемые услуги
		ul.list.service__list
			- var service = ['Доставка товаров по Санкт-Петербургу и Ленинградской области', 'Установка антипарковочного обордования', 'Проектирование, создание проектно-сметной документации', 'Производство изделий по вашим чертежам и эскизам', 'Помощь в получении допуска СРО на все виды работ', 'Согласование разработанной документации', 'Ремонт дорог', 'Дорожная разметка', 'Доставка топлива']
			- var service__img = ['dostavka.jpg', 'ustanovka.jpg', 'proect.jpg', 'proizvodstvo.jpg', 'sro.jpg', 'nadzor.png', 'remont.jpg', 'razmetka.jpg', 'toplivo.jpg']
			- var service__link = ['dostavka', 'ustanovka', 'proect', 'proizvodstvo', 'sro', 'nadzor', 'remont', 'razmetka', 'toplivo']
			- for (var i = 0; i < service.length; i++)
				li.list__item.service__item
					a(class="service__link service__link-popup", href= service__link[i] + '.html')
						wrapper.service__wrapper
							wrapper.service__wrapper-inner
								img(src= "img/service/" + service__img[i], alt= service[i], class= ((i === 0) || (i === 4) ) ? "margin-top" : "").service__img
						span.service__text= service[i]
						//span.service__about Подробнее...
	
	section.section.about#about
		header.section__header
			h2.section__header-name О нашей компании
		ul.list.about__list
			- var fact__number = ['12/7', '5165+', '12%', '1000+']
			- var fact__text = ['работаем без выходных', 'довольных клиентов', 'наши цены ниже рыночных', 'товаров на складе']
			- for (var i = 0; i < fact__number.length; i++)
				li.list__item.about__item
					wrapper.about__number-wrapper
						.about__number-border
							span.about__number= fact__number[i]
					span.about__text= fact__text[i]

	section.section.clients#clients
		header.section__header
			h2.section__header-name Наши клиенты
		wrapper.clients__slider
			- for (var i = 1; i < 22; i++)
				div( class="clients__slider-slide clients__slide-" + i)

	//
		div(class="popup__wrapper" id="service__popup-0")
			.popup
				header.popup__header
					h3.popup__name Доставка товаров по Санкт-Петербургу и Ленинградской области
					a(class="popup__close b-close", href="#") Крестик
				.popup__descr
					ul.popup__list
						li.popup__list-item
							| Стоимость доставки по Санкт-Петербургу - 
							span.strong 600р
						li.popup__list-item
							| При заказе товаров  
							span.strong от 10000р 
							| - 
							span.strong 300р
						li.popup__list-item
							| При заказе на установку парковочного барьера -
							span.strong 300р
						li.popup__list-item
							| При заказе товаров от 
							span.strong 20000р 
							| - бесплатная доставка по Санкт-Петербургу
						li.popup__list-item
							| Цена на доставку по Ленинградской области договорная
						li.popup__list-item
							span.strong Внимание: 
							| цена за доставку бетонных изделий обсуждается в отдельном порядке и зависит от района города и количества доставляемого товара!

		div(class="popup__wrapper" id="service__popup-1")
			.popup
				header.popup__header
					h3.popup__name Установка антипарковочного обордования
					a(class="popup__close b-close", href="") Крестик
				.popup__descr
					ul.popup__list
						li.popup__list-item
							| Произведём монтаж антипарковочного оборудования в короткие сроки
						li.popup__list-item
							| Цены на установку каждой позиции представлены в 
							a(class="popup__list-link", href="#") прайс-листе

		div(class="popup__wrapper" id="service__popup-2")
			.popup
				header.popup__header
					h3.popup__name Доставка товаров по Санкт-Петербургу и Ленинградской области
					a(class="popup__close b-close", href="") Крестик
				.popup__descr
					ul.popup__list
						li.popup__list-item
							| Компания "Антипарк" предлагает услуги по проектированию автопарковок и автостоянок. Опытные специалисты подготовят проектно-сметную документацию для Вашего проекта в нескольких вариантах 
						li.popup__list-item
							| Возможен выезд специалиста на объект для снятия замеров и обсуждения Ваших пожеланий по организации автопарковки. Также существует возможность удалённой работы по Вашему техническому заданию
						li.popup__list-item
							| Оборудование для автопарковки может быть как нашего производства, так и производства других компаний. Мы подберём оптимальный вариант по критериям цена-долговечность-удобство использования
						li.popup__list-item
							| Возможно согласование разработанной документации в органах надзора и контроля

		div(class="popup__wrapper" id="service__popup-3")
			.popup
				header.popup__header
					h3.popup__name Производство изделий по вашим чертежам и эскизам
					a(class="popup__close b-close", href="") Крестик
				.popup__descr
					ul.popup__list
						li.popup__list-item
							| Компания "Антипарк" располагает большими производственными ресурсами. Мы готовы произвести для Вас изделия как из металла (сталь, медь, латунь, алюминий, нержавейка, титан), так из неметаллов (пластик, оргстекло, капролон, эбонит, фторопласт, бетон). Возможно изготовление образцов и малых партий изделий.
						li.popup__list-item
							| Предприятие имеет возможность изготавливать детали на токарно-фрезерных станках с ЧПУ, станках лазерной резки и водорезке, имеет гибочное оборудование, производит вырубку из листового металла, сварку электродами, полуавтоматом и аргоном и многое другое
						li.popup__list-item
							| Наши цены Вас приятно удивят!

		div(class="popup__wrapper" id="service__popup-5")
			.popup
				header.popup__header
					h3.popup__name Согласование разработанной документации в органах надзора и контроля
					a(class="popup__close b-close", href="") Крестик
				.popup__descr
					ul.popup__list
						li.popup__list-item
							| Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека г. Москва 
						li.popup__list-item
							| Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Санкт-Петербургу
						li.popup__list-item
							| Территориальное управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Ленинградской обл.
						li.popup__list-item
							| Управление Федеральной службы по надзору в сфере природопользования по СЗФО
						li.popup__list-item
							| Комитет по природопользованию, охране окружающей среды и обеспечению экологической безопасности Санкт-Петербурга
						li.popup__list-item
							| Федеральная служба по экологическому, технологическому и атомному надзору г. Москва



block personalScript
	script(src="bower/slick-carousel/slick/slick.min.js")
	script(src="js/index.js")

