extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Парковочные конусы

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Конусы'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Конусы') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Конус дорожный КЖ.320', 'Конус дорожный КЖ.320.В', 'Конус дорожный КЖ.520', 'Конус дорожный КЖ.520.У', 'Конус дорожный КЖ.520.Т', 'Конус дорожный КЖ.520.ТУ', 'Конус дорожный КЖ.520.В', 'Конус дорожный КМ.520']
			- var products__names = ['Конус сигнальный' ,'Автоконус с вехой', 'Конус дорожный', 'Конус дорожный с ухом для цепи', 'Конус дорожный с утяжелителем', 'Конус дорожный с утяжелитем и ухом для цепи', 'Автоконус с вехой', 'Конус парковочный мягкий']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'conusi/'
			- var products__images = ['kzh320', 'kzh320v', 'kzh520', 'kzh520', 'kzh520', 'kzh520', 'kzh520v', 'kzh520']
			- var products__chars = ['Высота', 'Вес']
			- var products__values = [['316 мм', '0,2кг'], ['1200 мм', '0,4 кг'], ['520 мм', '0,8 кг'], ['577 мм', '1 кг'], ['520 мм', '3 кг'], ['577 мм', '3,2 кг'], ['1200 мм', '0,6 кг'], ['520 мм', '0,8 кг']]
			- var products__prices = ['119', '279', '279', '369', '499', '599', '499', '299']
			- var products__stage = ['-', '-', '-', '-', '-', '-', '-', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Конус дорожный сигнальный парковочный"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Дорожные конусы производства нашей компании имеют множество предназначений. Они предназначены как для резервирования парковочных мест у кафе, ресторанов и торговых центров, так и для разделения полос при дорожных работах. Также автоконусы применяются при обучении вождению.</p><p>Парковочные конусы могут иметь разную высоту: 320мм, 520мм и 750мм. Цена тем выше, чем выше конус. Наиболее распространены конусы высотой 520мм, поскольку они идеальны по соотношению цена-качество.</p><p>Основной враг дорожных конусов – сильный боковой ветер, который сносит ограждения, а иногда и переворачивает их.  Инженерами нашей компании был разработан утяжеленный конус, который безразличен к сильным ветровым нагрузкам, а также абсолютно устойчив к коррозии. Утяжеленные конуса нашей компании применяются не только на автопарковках и при проведении дорожных работ, но и на взлетно-посадочных полосах аэропортов, вертолетных площадках и в морских портах. Внутренний утяжелитель производства нашей компании позволяет сигнальным конусам всегда находиться в вертикальном положении на месте их установки.</p><p>Также парковочные конусы могут быть снабжены кольцом для крепления цепи или <a href="#">сигнальной ленты</a>. Стоимость данной опции составляет порядка 100р.</p><p>Для лучшей видимости конусов в ночное время суток, они снабжаются светоотражающими полосами. Маленький конус может иметь 1 полосу, средний – две, большой – три. Нанесение светоотражающих полос является опциональным и требует дополнительной платы.</p><p>Конусы для автоинструкторов представляют собой разборную конструкцию, состоящую из дорожного конуса и сигнальной вехи. Автоконус имеет высоту 1200мм, что позволяет видеть его из-за руля автомобиля. Конструкция автоконусов согласована с ГИБДД и применяется при сдаче экзаменов.</p><p>Также парковочные конусы подразделяются на мягкие и жесткие. Мягкий конус отличается от жесткого добавками в материал изделия специальных пластификаторов. Мягкий конус лучше сопротивляется  наезду и столкновению с автотранспортом.</p><p>На складе нашей компании всегда находится большое количество дорожных конусов разных типоразмеров. Для заказа необходимо позвонить по телефону или связаться с нами по электронной почте.</p><p>Стоимость доставки дорожных конусов уточняйте по телефону.  Для выставления счета необходимо отправить заявку и реквизиты на электронную почту.</p><p>В прайс-листе указана розничная цена товара без дополнительных опций. Готовы предложить Вам оптовую цену на дорожные конусы, которая зависит от количества заказываемых изделий.</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)