extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Бетонные полусферы

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Полусферы'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Полусферы') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Полусфера бетонная ПБ.400', 'Полусфера бетонная ПБ.400.А', 'Полусфера бетонная ПБ.400.К', 'Полусфера бетонная ПБ.400.АК', 'Полусфера бетонная ПШ.400', 'Полусфера бетонная ПШ.400.А', 'Полусфера бетонная ПШ.400.К', 'Полусфера бетонная ПШ.400.АК', 'Полусфера бетонная ПБВ.490', 'Полусфера бетонная ПБВ.490.А', 'Полусфера бетонная ПБВ.490.К', 'Полусфера бетонная ПБВ.490.АК', 'Полусфера бетонная ПБ.500', 'Полусфера бетонная ПБ.500.А', 'Полусфера бетонная ПБ.500.К', 'Полусфера бетонная ПБ.500.АК', 'Полусфера бетонная ПБВ.500', 'Полусфера бетонная ПБВ.500.А', 'Полусфера бетонная ПБВ.500.К', 'Полусфера бетонная ПБВ.500.АК', 'Столбик бетонный СБШ.560', 'Столбик бетонный СБШ.560.А', 'Столбик бетонный СБВ.560', 'Столбик бетонный СБВ.560.А',  'Полусфера бетонная ПФС.500', 'Полусфера бетонная ПФС.500.А', 'Полусфера бетонная ПФК.500', 'Полусфера бетонная ПФК.500.А', 'Полусфера бетонная ПБ.700.К', 'Полусфера бетонная ПБ.700.АК', 'Полусфера бетонная ПСТ.1000', 'Полусфера бетонная ПСТ.1000.А', 'Полусфера бетонная ПСТ.1000.К', 'Полусфера бетонная ПСТ.1000.АК']
			- var products__names = ['Полусфера бетонная', 'Полусфера с арматурой' ,'Полусфера крашеная' ,'Полусфера крашеная с арматурой' ,'Полусфера шестигранная','Полусфера шестигранная с арматурой' ,'Полусфера шестигранная крашеная' ,'Полусфера шестигранная крашеная с арматурой' ,'Полусфера бетонная высокая' ,'Полусфера бетонная высокая с арматурой', 'Полусфера бетонная высокая крашеная' ,'Полусфера бетонная высокая с арматурой крашеная' ,'Полусфера бетонная' ,'Полусфера с арматурой' ,'Полусфера крашеная','Полусфера крашеная с арматурой', 'Полусфера бетонная высокая', 'Полусфера бетонная высокая с арматурой', 'Полусфера бетонная высокая крашеная', 'Полусфера бетонная высокая крашеная с арматурой', 'Столбик бетонный шестигранный', 'Столбик бетонный шестигранный с арматурой', 'Столбик бетонный восьмигранный', 'Столбик бетонный восьмигранный с арматурой', 'Полусфера офактуренная серая', 'Полусфера офактуренная серая с арматурой', 'Полусфера офактуренная красная', 'Полусфера офактуренная красная с арматурой', 'Полусфера крашеная', 'Полусфера крашеная с арматурой', 'Полусфера супертяжелая', 'Полусфера супертяжелая с арматурой', 'Полусфера супертяжелая крашеная', 'Полусфера супертяжелая крашеная с арматурой']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'polusferi/'
			- var products__images = ['pb400', 'pb400a', 'pb400k', 'pb400ak', 'psh400', 'psh400a', 'psh400k', 'psh400ak', 'pbv490', 'pbv490a', 'pbv490k', 'pbv490ak', 'pb400', 'pb400a', 'pb400k', 'pb400ak', 'pbv490', 'pbv490a', 'pbv490k', 'pbv490ak', 'sbv560', 'sbv560a', 'sbv560', 'sbv560a', 'pfs500', 'pfs500a', 'pfk500', 'pfk500a', 'pb400k', 'pb400ak', 'pb400', 'pb400a', 'pb400k', 'pb400ak']
			- var products__chars = ['Диаметр', 'Высота', 'Вес']
			- var products__values = [['420 мм', '200 мм', '41 кг'], ['420 мм', '200 мм', '41 кг'], ['420 мм', '200 мм', '41 кг'], ['420 мм', '200 мм', '41кг'], ['460 мм', '240 мм', '57 кг'], ['460 мм', '240 мм', '57кг'], ['460 мм', '240 мм', '57 кг'], ['460 мм', '240 мм', '57 кг'], ['505 мм', '470 мм', '170 кг'], ['505 мм', '470 мм', '170 кг'],  ['505 мм', '470 мм', '170 кг'], ['505 мм', '470 мм', '170 кг'], ['500 мм', '260 мм', '86 кг'], ['500 мм', '260 мм', '86 кг'], ['500 мм', '260 мм', '86 кг'], ['500 мм', '260 мм', '86 кг'], ['500 мм', '320 мм', '95 кг'], ['500 мм', '320 мм', '95 кг'], ['500 мм', '320 мм', '95 кг'], ['500 мм', '320 мм', '95 кг'], ['560 мм', '580 мм', '160 кг'], ['560 мм', '580 мм', '160 кг'], ['560 мм', '700 мм', '190 кг'], ['560 мм', '700 мм', '190 кг'], ['500 мм', '260 мм', '80 кг'], ['500 мм', '260 мм', '80 кг'], ['500 мм', '260 мм', '80 кг'], ['500 мм', '260 мм', '80 кг'], ['700 мм', '350 мм', '300 кг'], ['700 мм', '350 мм', '300 кг'], ['1000 мм', '500 мм', '555 кг'], ['1000 мм', '500 мм', '555 кг'], ['1000 мм', '500 мм', '555 кг'], ['1000 мм', '500 мм', '555 кг']]
			- var products__prices = ['399', '399', '499', '499', '449', '449', '699', '699', '1499', '1499', '1699', '1699', '449', '449', '599', '599', '949', '949', '999', '999', '1449', '1449', '1799', '1799', '1599', '1599', '1599', '1599', '1999', '1999', '5999', '5999', '6299', '6299']
			- var products__stage = ['99', 'от 299', '99', 'от 299', '99', 'от 299', '99', 'от 299', '499', '499', '499', '499', '199', 'от 299', '199', 'от 299', '199', 'от 299', '199', 'от 299', '199', '499', '199', '499', '199', 'от 299', '199', 'от 299', '999', 'от 999', 'от 1999', 'от 1999', 'от 1999', 'от 1999']
			
			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Бетонные полусферы"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Бетонные полусферы предназначены для ограждения территорий от нежелательного проезда автотранспортных средств. Особое применение полусферы нашли во дворах жилых домов и на стоянках торговых центров. Для предотвращения парковки автомобилей на зеленых газонах и тротуарах мы рекомендуем установить бетонные полусферы по всему периметру огораживаемого объекта с межосевым интервалом 1,5м. Проблема будет решена!</p><p>Железобетонные ограждения производства нашей компании имеют разную форму и габаритные размеры. Чем больше диаметр и высота бетонной полусферы, тем больше её масса, и соответственно выше её стоимость. Более тяжелые полусферы сложнее сдвинуть, а значит надежность ЖБ-изделий выше. В то же время при увеличении массы изделия возрастает не только его стоимость, но также стоимость доставки и установки. </p><p>При производстве бетонных полусфер мы не экономим на качестве материалов и используем самые лучшие компоненты при приготовлении бетона: цемент марки М500, гранитный щебень фракции 5-20мм, морской песок и специальный пластификатор. Благодаря этому гарантируется высокая прочность и долговечность изделий.</p><p>Парковочные полусферы могут иметь штырь для предотвращения сдвига ограждения. В случае наличия штыря для установки полусферы необходим перфоратор. Также полусфера может быть установлена на специальный клеящий состав, который намертво свяжет её с асфальтом или бетоном.</p><p>Бетонная полусфера может быть опционально покрашена в любой цвет каталога RAL. Наиболее популярные цвета: желтый, красный, оранжевый, белый, серый, синий и зеленый. Данные колеры всегда находятся на нашем производстве. </p><p>Наиболее популярным типоразмером полусферы, устанавливаемой на тротуаре, является 420х200мм. Высота тротуара сложенная с высотой полусферы превышает обычно 300мм, что достаточно для предотвращения проезда автотранспорта.</p><p>В случае, когда бетонная полусфера устанавливается на уровне колёс, мы рекомендуем своим клиентам брать ограждения не менее 500х260мм. В проблемных случаях рекомендуемая масса ограждения - не менее 250кг.</p><p>Также мы производим тяжелые бетонные столбики, которые могут оснащаться кольцами для крепления цепи. Стоимость одного крепежного кольца – 150р.</p><p>Форма полусферы имеет чисто эстетическое значение. В ассортименте нашей компании Вы можете найти как бетонные полусферы классической формы, так и полусферу на восьмиграннике, вытянутые полусферы, шестигранные столбики, полусферы с фаской для вилочного погрузчика, а также фигурные столбики.</p><p>Также вместе с полусферами могут быть установлены <a href="#">бетонные вазоны</a> для цветов, которые бесспорно украшают огораживаемую территорию.</p><p>Бетонные полусферы – лучшие ограждения по соотношению цена-качество! Длительный срок эксплуатации бетонных ограждений обусловлен высокой прочностью и коррозионной  устойчивостью данного композитного материала. Именно поэтому парковочные полусферы очень популярны в последнее время.</p><p>На складе нашей компании всегда находится большое количество бетонных полусфер. <b>Мы предложим Вам самую лучшую цену</b> на данный вид ограждений, поскольку сами являемся производителем! В этом Вы можете убедиться лично, приехав к нам в гости.</p><p>Также мы готовы обеспечить оперативную доставку и установку бетонных полусфер на Ваш объект. Специалисты нашей компании имеют многолетний опыт установки данных ограждений. Каждый год мы огораживаем более 1000 объектов!!!</p><p>Подробную информацию о стоимости Вашего заказа Вы можете узнать по телефону или по электронной почте. Наши менеджеры рассчитают стоимость изделий, их доставки и установки. Для выставления счета необходимо прислать реквизиты Вашей компании.</p><p>С бетонными полусферами часто заказывают <a href="#">автоматические шлагбаумы</a>, <a href="#">металлические парковочные столбики</a> и <a href="#">антипарковочные барьеры</a>.</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)