extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Приводы для ворот

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Приводы для ворот'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Приводы для ворот') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Привод для ворот DoorHan Swing.5000', 'Привод для ворот KRONO 310', 'Привод для ворот CAME ATI 3000', 'Привод для ворот CAME FAST 7000', 'Привод для ворот CAME FERNI 1000']
			- var products__names = ['Линейный привод DoorHan Swing.5000', 'Линейный привод KRONO 310', 'Линейный привод CAME ATI 3000', 'Рычажный привод CAME FAST 7000', 'Рычажный привод CAME FERNI 1000']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'turniketi/'
			- var products__images = ['a95', 'a95', 'a95', 'a95', 'a95']
			- var products__chars = ['', 'Время открытия ворот ', 'Интенсивность']
			- var products__values = [['~220 В', '20 сек', '50%'], ['~220 В', '22 сек', '30%'], ['~220 В', '19 сек', '50%'], ['~220 В', '18 сек', '30%'], ['~220 В', '18 сек', '30%']]
			- var products__prices = ['21900', '23500', '24900', '27900', '31900']
			- var products__stage = ['12000', '12000', '12000', '12000', '12000']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Линейные и рычажные приводы для ворот"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Линейные и рычажные приводы для ворот</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)