extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/index.css")

block title
	| Услуги

block main-content
	section.section.service
		header.section__header
			h2.section__header-name Предоставляемые услуги
		ul.list.service__list
			- var service = ['Доставка товаров по Санкт-Петербургу и Ленинградской области', 'Установка антипарковочного обордования', 'Проектирование, создание проектно-сметной документации', 'Производство изделий по вашим чертежам и эскизам', 'Помощь в получении допуска СРО на все виды работ', 'Согласование разработанной документации в органах надзора и контроля']
			- for (var i = 0; i < service.length; i++)
				if (i != 4)
					li.list__item.service__item
						a(class="service__link service__link-popup", href="#", id='service-' + i)
							span.service__text= service[i]
							span.service__about Подробнее...
				else 
					li.list__item.service__item
						a(class="service__link", href="SRO.html")
							span.service__text= service[i]
							span.service__about Подробнее...

block personalScript
	script(src="js/index.js")
