extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Пластиковые сетки

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Пластиковые сетки'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Пластиковые сетки') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Сетка полимерная А.95', 'Сетка полимерная А.50', 'Сетка полимерная А.90', 'Сетка полимерная А.40.1', 'Сетка полимерная А.40.1,5', 'Сетка полимерная А.45.1,3', 'Сетка полимерная А.45.2', 'Сетка полимерная Ф.10.5М', 'Сетка полимерная Ф.10.10М', 'Сетка полимерная Ф.10.20М', 'Сетка полимерная Ф.17.5М', 'Сетка полимерная Ф.17.10М', 'Сетка полимерная Ф.15.20М', 'Сетка полимерная Ф.24.5М', 'Сетка полимерная Ф.24.10М', 'Сетка полимерная Ф.18.15М', 'Сетка полимерная Ф.18.30М', 'Сетка полимерная Ф.20.5М', 'Сетка полимерная Ф.20.10М', 'Сетка полимерная Ф.20.20М', 'Сетка полимерная Ф.35.5М', 'Сетка полимерная Ф.35.10М', 'Сетка полимерная Ф.35.20М', 'Сетка полимерная Ф.60.5М', 'Сетка полимерная Ф.60.10М', 'Сетка полимерная Ф.50.20М', 'Сетка полимерная Ф.90.5М', 'Сетка полимерная Ф.90.10М', 'Сетка полимерная Ф.83.20М', 'Сетка полимерная З.32.15М', 'Сетка полимерная З.32.30М', 'Сетка полимерная З.55.1,2', 'Сетка полимерная З.55.1,9', 'Сетка полимерная З.70.10М', 'Сетка полимерная З.70.25М', 'Сетка полимерная М3', 'Сетка фасадная ЗСЛ', 'Газонная решетка Г.2.15М', 'Газонная решетка Г.2.30М', 'Сетка полимерная Г.8', 'Сетка полимерная Т.33.1', 'Сетка полимерная Т.33.1,5', 'Сетка полимерная Д.33.2', 'Сетка полимерная Т.40', 'Сетка полимерная Д.40', 'Сетка полимерная ОСС.2.10М', 'Сетка полимерная ОСС.2.25М', 'Сетка полимерная ОСС.2.50М', 'Сетка полимерная ОСС.4.25М', 'Сетка полимерная S.100.0,5', 'Сетка полимерная S.100.2', 'Сетка полимерная М.30', 'Сетка полимерная М.100', 'Сетка полимерная L.100', 'Сетка полимерная Ф.8.5М', 'Сетка полимерная Ф.8.10М']
			- var products__names = ['Аварийное ограждение - 50м', 'Аварийное ограждение - 20м', 'Аварийное ограждение - 50м', 'Аварийное ограждение - 25м', 'Аварийное ограждение - 25м', 'Аварийное ограждение - 25м', 'Аварийное ограждение - 25м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Сетка - 5м', 'Сетка - 10м', 'Решетка садовая - 15м', 'Решетка садовая - 30м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Решетка садовая - 5м', 'Решетка садовая - 10м', 'Решетка садовая - 20м', 'Решетка заборная  - 15м', 'Решетка заборная  - 30м', 'Решетка заборная  - 25м', 'Решетка заборная  - 25м', 'Решетка заборная  - 10м', 'Решетка заборная  - 25м', 'Противомоскитная сетка - 30м', 'Защита строительных лесов - 100м', 'Решетка газонная - 15м', 'Решетка газонная - 30м', 'Геосетка газонная - 30м', 'Геосетка тротуарная - 25м', 'Геосетка тротуарная - 25м', 'Геосетка тротуарная - 25м', 'Геосетка тротуарная - 30м', 'Геосетка тротуарная - 50м', 'Общестроительная сетка - 10м', 'Общестроительная сетка - 25м', 'Общестроительная сетка - 50м', 'Общестроительная сетка - 25м', 'Кладочная сетка - 100м', 'Универсал S - 100-2 - 100м', 'Штукатурная сетка', 'Универсал M - 100м', 'Универсал L - 100м', 'Защита саженцев - 5м', 'Защита саженцев - 10м']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'setki/'
			- var products__images = ['a95', 'a50', 'a95', 'a40', 'a40', 'a40', 'a40', 'f10', 'f10', 'f10', 'f17', 'f17', 'f17', 'f24', 'f24', 'f18', 'f18', 'f20', 'f20', 'f20', 'f35', 'f35', 'f35', 'f60', 'f60', 'f60', 'f90', 'f90', 'f90', 'z32', 'z32', 'z55', 'z55', 'z70', 'z70', 'm3', 'zsl', 'g2', 'g2', 'g8', 't33', 't33', 't33', 't33', 't40', 't40', 'oss', 'oss', 'oss', 'oss', 's100', 's100', 'm30', 'm30', 'l100', 'f8', 'f8']
			- var products__chars = ['Ячейка', 'Ширина рулона', 'Материал', 'Цвет']
			- var products__values = [['45х90 мм', '1 м', 'Сэвилен', 'Оранжевый'], ['50х50 мм', '1 м', 'Полиэтилен', 'Оранжевый'], ['45х90 мм', '1 м', 'Сэвилен', 'Оранжевый, Синий'], ['40х45 мм', '1 м', 'Полипропилен', 'Оранжевый'], ['40х45 мм', '1,5 м', 'Полипропилен', 'Оранжевый'], ['40х45 мм', '1,3 м', 'Полипропилен', 'Оранжевый'], ['42х45 мм', '2 м', 'Полипропилен', 'Оранжевый'], ['10х10 мм', '1 м', 'Полипропилен', 'Зелёный'], ['10х10 мм', '1 м', 'Полипропилен', 'Зелёный'], ['10х10 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['17х17 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['17х17 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['15х15 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['24х24 мм', '0,5 м', 'Полипропилен', 'Зелёный'], ['24х24 мм', '0,5 м', 'Полипропилен', 'Зелёный'], ['18х18 мм', '1,63 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['18х18 мм', '1,63 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['20х20 мм', '1 м', 'Полипропилен', 'Зелёный'], ['20х20 мм', '1 м', 'Полипропилен', 'Зелёный'], ['20х20 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['35х40 мм', '0,5 м', 'Полипропилен', 'Зелёный'], ['35х40 мм', '0,5 м', 'Полипропилен', 'Зелёный'], ['35х40 мм', '0,5 м', 'Полипропилен', 'Зелёный'], ['60х60 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['60х60 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['50х50 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['90х90 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['90х90 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['83х83 мм', '1 м', 'Полипропилен', 'Зелёный, Тёмно-зелёный'], ['32х32 мм', '2 м', 'Полипропилен', 'Тёмно-зелёный'], ['32х32 мм', '2 м', 'Полипропилен', 'Тёмно-зелёный'], ['55х58 мм', '1,2 м', 'Полипропилен', 'Тёмно-зелёный, Зелёный, Серый, Коричневый'], ['55х58 мм', '1,9 м', 'Полипропилен', 'Тёмно-зелёный, Зелёный'], ['70х58 мм', '1,5 м', 'Полипропилен', 'Зелёный'], ['70х58 мм', '1,5 м', 'Полипропилен', 'Тёмно-зелёный, Зелёный'], ['2х2 мм', '0,9 м', 'Полипропилен', 'Зелёный, Белый, Синий'], ['2х10 мм', '4 м', 'Полипропилен', 'Зелёный'], ['32х32 мм', '2 м', 'Полипропилен', 'Тёмно-зелёный'], ['32х32 мм', '2 м', 'Полипропилен', 'Тёмно-зелёный'], ['6х8 мм', '2 м', 'Полипропилен', 'Чёрный'], ['33х33 мм', '1 м', 'Полипропилен', 'Чёрный'], ['33х33 мм', '1,5 м', 'Полипропилен', 'Чёрный'], ['33х33 мм', '2 м', 'Полипропилен', 'Чёрный'], ['40х45 мм', '2 м', 'Полипропилен', 'Чёрный'], ['35х40 мм', '4 м', 'Полипропилен', 'Чёрный'], ['43х43 мм', '2 м', 'Полипропилен', 'Чёрный'], ['43х43 мм', '2 м', 'Полипропилен', 'Чёрный'], ['43х43 мм', '2 м', 'Полипропилен', 'Чёрный'], ['43х43 мм', '4 м', 'Полипропилен', 'Чёрный'], ['5х5 мм', '0,5 м', 'Полипропилен', 'Чёрный'], ['5х5 мм', '2 м', 'Полипропилен', 'Чёрный'], ['13х15 мм', '1 м', 'Полипропилен', 'Чёрный'], ['13х15 мм', '2 м', 'Полипропилен', 'Чёрный'], ['22х35 мм', '2 м', 'Полипропилен', 'Чёрный'], ['8х6 мм', '1 м', 'Полипропилен', 'Чёрный'], ['8х6 мм', '1 м', 'Полипропилен', 'Чёрный']]
			- var products__prices = ['2499', '-', '3499', '-', '-', '2999', '3999', '568', '1060', '-', '525', '950', '-', '308', '468', '3122', '6194', '621', '1152', '-', '308', '468', '-', '561', '1027', '-', '539', '1003', '-', '-', '11324', '-', '7700', '2087', '5187', '-', '4509', '-', '11324', '-', '8199', '-', '-', '3521', '-', '13844', '-', '-', '-', '-', '678', '2714', '650', '3978', '4163', '736', '-']
			- var products__stage = ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

			- products__attrs = ['Лента бордюрная Б.10СМ', 'Лента бордюрная Б.15СМ', 'Лента бордюрная Б.20СМ', 'Лента бордюрная Б.30СМ']
			- products__names = ['Бордюрная лента - 10м', 'Бордюрная лента - 10м', 'Бордюрная лента - 10м', 'Бордюрная лента - 30м']
			- products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- products__dest = 'setki/'
			- products__images = ['b', 'b', 'b', 'b']
			- products__chars = ['Толщина', 'Ширина рулона', 'Цвет']
			- products__values = [['1,2 мм', '10 см', 'Тёмно-зелёный, коричневый'], ['1,2 мм', '15 см', 'Тёмно-зелёный, коричневый'], ['1,2 мм', '20 см', 'Тёмно-зелёный, коричневый'], ['1,2 мм', '30 см', 'Тёмно-зелёный, коричневый']]
			- products__prices = ['258', '387', '511', '2287']
			- products__stage = ['-', '-', '-', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

			- products__attrs = ['Решетчатый настил Н.40']
			- products__names = ['Пластиковая сетка. Экопарковка']
			- products__href = ['PSH_201']
			- products__dest = 'setki/'
			- products__images = ['n40']
			- products__chars = ['Размер листа', 'Материал', 'Цвет']
			- products__values = [['1х1 м', 'Полипропилен', 'Тёмно-зелёный']]
			- products__prices = ['-']
			- products__stage = ['-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

			- products__attrs = ['Веха сигнальная ВС.1']
			- products__names = ['Веха сигнальная']
			- products__href = ['PSH_201']
			- products__dest = 'setki/'
			- products__images = ['veha']
			- products__chars = ['Высота', 'Диаметр', 'Материал', 'Цвет']
			- products__values = [['1200 мм', '40 мм', 'Пластик', 'Оранжевый']]
			- products__prices = ['149']
			- products__stage = ['-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

			- products__attrs = ['Подставка П.1']
			- products__names = ['Подставка под сигнальную веху']
			- products__href = ['PSH_201']
			- products__dest = 'setki/'
			- products__images = ['podstavka']
			- products__chars = ['Габаритные размеры', 'Материал', 'Цвет']
			- products__values = [['350x350x80 мм', 'Резина', 'Чёрный']]
			- products__prices = ['549']
			- products__stage = ['-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Пластиковые сетки"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Пластиковые сетки</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)