extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Столбики парковочные

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', '#': 'Столбики'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Столбики') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	include ../_common/mixins

	section.section
		header.section__header
			h2.section__header-name Столбики
		ul.products__list
			- var products__names = ['Столбик парковочный бетонируемый' ,'Столбик парковочный анкерный', 'Столбик парковочный передвижной']
			- var products__dest = 'stolbiki/'
			- var products__images = ['1', '1', '1']
			- var products__chars = ['Высота', 'Диаметр корпуса', 'Материал']
			- var products__values = [['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь']]
			- var products__prices = ['899', '999', '1999']
			- var products__stage = ['1199', '399', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__names[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Парковочные столбики"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Создание парковочных мест', 'Ограничение пешеходной зоны']
	- var this_paragraph_below = 'Существуют различные варианты исполнения дорожных парковочных столбиков: стальные, оцинкованные и из нержавеющей стали, а также полимерные (пластиковые) столбики. В зависимости от материала изготовления столбика определяется его степень подверженности коррозии и срок службы при конкретных условиях эксплуатации. Стальные и оцинкованные антипарковочные столбики сверху покрываются специальной порошковой краской, которая защищает металл столбика от коррозии. Наши клиенты имеют возможность выбрать цвет столбика из каталога RAL. По умолчанию, парковочные столбики красятся в серый цвет. Также за дополнительную плату возможно дополнительное покрытие столбика лаком. Нержавеющий столбик также может быть покрашен в любой цвет RAL по желанию Заказчика.'

	.full-desc__first-part__wrapper
		+full-desc__first-part(this_desc_title, this_img_src, this_desc_for_img, this_paragraph_below)

		- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
		- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']
		-var this_list_href = ['#','#','#','#','#']

		+fullDesc__list(this_title_list, this_list_values, this_list_href)


			

