extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Столбики парковочные

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', '#': 'Столбики'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Столбики') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	include ../_common/mixins

	section.section
		header.section__header
			h2.section__header-name Столбики
		ul.products__list
			- var products__names = ['Столбик парковочный бетонируемый' ,'Столбик парковочный анкерный', 'Столбик парковочный передвижной']
			- var products__dest = 'stolbiki/'
			- var products__images = ['1', '1', '1']
			- var products__chars = ['Высота', 'Диаметр корпуса', 'Материал']
			- var products__values = [['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь']]
			- var products__prices = ['899', '999', '1999']
			- var products__stage = ['1199', '399', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__names[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])
