extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Столбики парковочные

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'.': 'Главная', 'goods.html' : 'Товары', '#': 'Столбики'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Столбики') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Столбик СБ.76', 'Столбик СА.76', 'Столбик СПР.76', 'Столбик СС.76', 'Столбик ССК.76', 'Столбик СЕ.76', 'Столбик СБ.108', 'Столбик СА.108', 'Столбик СДС.1300', 'Столбик СДС.1500', 'Столбик СТГ.450', 'Столбик СТГ.800', 'Столбик СТ.42.А', 'Столбик СТ.42.АУ', 'Столбик СТ.42.Б', 'Столбик СТ.42.БУ', 'Столбик СТ.76.А', 'Столбик СТ.76.АУ', 'Столбик СТ.76.Б', 'Столбик СТ.76.БУ', 'Столбик СТН.76.Б', 'Столбик СТН.76.БУ', 'Столбик СВЭ.200', 'Столбик СВГ.270', 'Столбик СВЭ.270', 'Столбик СВГ.320']
			- var products__names = ['Столбик парковочный бетонируемый' ,'Столбик парковочный анкерный', 'Столбик парковочный передвижной', 'Столбик съемный с бетонируемой закладной' ,'Столбик парковочный складной', 'Столбик парковочный евро с анкерным креплением', 'Столбик парковочный бетонируемый', 'Столбик парковочный анкерный', 'Столбик дорожный сигнальный', 'Столбик дорожный сигнальный', 'Столбик разделительный гибкий', 'Столбик разделительный гибкий', 'Парковочный столбик с анкерным креплением', 'Парковочный столбик с анкерным креплением и ухом для цепи', 'Парковочный столбик бетонируемый', 'Парковочный столбик бетонируемый с ухом для цепи', 'Парковочный столбик с анкерным креплением', 'Парковочный столбик с анкерным креплением и ухом для цепи', 'Столбик бетонируемый', 'Столбик бетонируемый с ухом для цепи', 'Столбик из нержавеющей стали бетонируемый', 'Столбик из нержавеющей стали для бетонирования', 'Столбик выдвижной электромеханический', 'Столбик выдвижной гидравлический', 'Столбик парковочный передвижной', 'Столбик парковочный евро с анкерным креплением']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'stolbiki/'
			- var products__images = ['SB76', 'SA76', 'SPR76', 'SS76', 'SSK76', 'SE76', 'SB108', 'SA108', 'SDS1300', 'SDS1500', 'STG450', 'STG800', 'ST42A', 'ST42AU', 'ST42B', 'ST42BU', 'ST76A', 'ST76AU', 'ST76B', 'ST76BU', 'STN76B', 'STN76BU', 'SVE200', 'SVG270', 'SVE270', 'SVG320']
			- var products__chars = ['Высота', 'Диаметр корпуса', 'Материал']
			- var products__values = [['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['850 мм', '76 мм', 'Сталь'], ['750 мм', '76 мм', 'Сталь'], ['805 мм', '108 мм', 'Сталь'], ['805 мм', '108 мм', 'Сталь'], ['1300 мм', 'ГОСТ Р 50970-96', 'ГОСТ Р 50970-96'], ['1500 мм', 'ГОСТ Р 50970-96', 'ГОСТ Р 50970-96'], ['450 мм', '100 мм', 'Полиуретан'], ['800 мм', '100 мм', 'Полиуретан'], ['-', '42 мм', 'Сталь'], ['-', '42 мм', 'Сталь'], ['-', '42 мм', 'Сталь'], ['-', '42 мм', 'Сталь'], ['-', '76 мм', 'Сталь'], ['-', '76 мм', 'Сталь'], ['-', '76 мм', 'Сталь'], ['-', '76 мм', 'Сталь'], ['-', '76 мм', 'Сталь нержавеющая'], ['-', '76 мм', 'Сталь нержавеющая'], ['500 мм', '200 мм', '-'], ['700 мм', '270 мм', '-'], ['500 мм', '270 мм', '-'], ['700 мм', '320 мм', '-']]
			- var products__prices = ['899', '999', '1999', '1999', '1999', '910', '1485', '1485', '245', '245', '-', '1199', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '105000', '158000', '115000', '184000']
			- var products__stage = ['1199', '399', '-', '1199', '1199', '399', '1199', '399', '-', '-', '399', '399', '399', '399', '1199', '1199', '399', '399', '1199', '1199', '1199', '1199', '75000', '99000', '75000', '99000']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])
					
	- var this_desc_title = 'Описание "Парковочные столбики"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Создание парковочных мест', 'Ограничение пешеходной зоны']
	- var this_paragraph_below = 'Парковочные столбики предназначены для ограждения территории от нежелательного проезда автотранспорта. В последнее время в городе существенно увеличивается количество автомобилей. Владельцы транспортных средств любят парковать своих «железных коней» на газонах, пешеходных зонах и тротуарах. Поэтому  столбики часто устанавливают на тротуары по самому краю дороги, для того чтобы предотвратить нежелательную парковку автомобилей и обеспечить проход граждан. <p>Дорожные столбики подразделяются на бетонируемые, анкерные, передвижные, складные и съемные.</p><p>Бетонируемые столбы крепятся к асфальту или грунту при помощи бетонирования:  сначала в асфальте делается отверстие 30х30см, после чего установленный в него столб заливается бетоном. Бетон застывает в течение 1-2 суток, после чего парковочный столбик готов к использованию: на него может быть прикреплена металлическая цепь или сигнальная лента. Высота бетонированного столбика составляет 1 метр, причем над поверхностью асфальта столбик выступает на 750мм.</p><p>Анкерные столбы предназначены для крепления в асфальт или бетон. После разметки поверхности «по месту» для установки анкеров в асфальте необходимо просверлить 4 отверстия диаметром 12мм. После чего анкерный парковочный столбик необходимо прикрутить к асфальту при помощи ключа с головкой 13мм. Стоимость анкерного столба несколько выше, чем у бетонируемого, при этом стоимость установки гораздо ниже.</p><p>Передвижные столбики не имеют крепления к поверхности. Тяжелое основание помогает им всегда оставаться в вертикальном положении. Передвижные столбы также оборудованы двумя ушками для крепления цепи.</p><p>Складные парковочные столбики являются аналогом <a href="#">парковочных барьеров</a>. Они крепятся на асфальт при помощи анкеров, а также могут быть сложены в горизонтальное положении для обеспечения возможности проезда автотранспорта.</p><p>Съемные парковочные столбы имеют закладную, которая бетонируется в асфальт. После застывания бетона столбик устанавливается в закладную и запирается на ключ. Только владелец может снять его для обеспечения проезда.</p><p>В суровых зимних условиях на парковочные столбики действуют песок, соли и реагенты, благодаря которым происходит коррозия металла ограждений. Поэтому столбики нашей компании обработаны грунтом с применением цинка, после чего покрашены порошком. Данный вид обработки поверхности изделий повышает коррозионную стойкость и долговечность. Парковочные столбики сохраняют привлекательные внешний вид на протяжении нескольких лет эксплуатации. Для особо сложных условий эксплуатации мы предлагаем изделия из нержавеющей стали. Стоимость изделий из «нержавейки» обговаривается отдельно для каждого заказа.</p><p>Рекомендуемая толщина стенки трубы, из который изготавливается столбик, составляет 2мм. Рекомендуемый диаметр столбика 76мм. Также мы предлагаем особо прочные столбики диаметром 108мм.</p><p>При установке столбиков на дороге в качестве разделителей наша компания предлагает полиуретановые разделительные столбики анкерного крепления высотой 450мм и 750мм. Данный вид дорожных столбиков не портит автомобиль при случайном наезде.</p><p>Наличие парковочных столбиков на нашем складе просьба узнавать по телефону или по электронной почте. В случае отсутствия товара на складе компании, наши сотрудники сообщат Вам сроки изготовления необходимых ограждений.</p><p>Монтажные бригады нашей компании готовы оперативно выехать к Вам и установить нужные парковочные столбики на Ваш объект.</p><p>Также мы рекомендуем обратить внимание на <a href="#">бетонные полусферы</a> и передвижные <a href="#">парковочные конусы</a> производства нашей компании.</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)



			

