extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/index.css")

block title
	| Доставка топлива

block main-content
	section.section
		header.section__header
			h2.section__header-name Доставка топлива

block personalScript
	script(src="js/index.js")

