extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Бетонные урны

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Бетонные урны'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Бетонные урны') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Урна УБМ.1', 'Урна УБМ.2', 'Урна УБМ.3', 'Урна УБМ.4', 'Урна УБМ.5', 'Урна УБМ.6', 'Урна УБМ.7', 'Урна УБМ.8', 'Урна УБМ.9', 'Урна УБМ.10', 'Урна УБМ.11', 'Урна УБМ.12', 'Вкладыш для урны ВУ.1', 'Вкладыш для урны ВУ.2', 'Вкладыш для урны ВУ.5']
			- var products__names = ['Тяжелая бетонная урна для мусора', 'Стандартная бетонная урна', 'Урна бетонная эконом', 'Урна бетонная "капля"', 'Урна бетонная уличная для мусора', 'Урна уличная для мусора', 'Урна бетонная "волна"', 'Урна для мусора', 'Урна бетонная "ромб"', 'Парковая урна для мусора', 'Тяжелая бетонная урна']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'urni/'
			- var products__images = ['1', '2', '3', '4', 'urna', 'urna', 'wave', 'urna', 'romb', 'park', 'park']
			- var products__chars = ['Размеры', 'Объём', 'Вес']
			- var products__values = [['470х470х620', '20л', '150кг'], ['400х400х520', '25л', '108кг'], ['400х400х520', '20л', '80кг'], ['400х400х520', '20л', '80кг'], ['750х750х900', '20л', '100кг'], ['400х400х520', '20л', '80кг'], ['400х400х520', '20л', '80кг'], ['400х400х520', '20л', '80кг'], ['400х400х520', '20л', '80кг'], ['400х400х500', '25л', '100кг'], ['420х420х500', '25л', '120кг'], ['420х420х500', '25л', '120кг']]
			- var products__prices = ['1999', '1599', '2599', '2699', '2699', '2699', '2699', '2699', '2699', '2699', '1999', '2099']
			- var products__stage = ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

			
			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

			- products__attrs = ['Вкладыш для урны ВУ.1', 'Вкладыш для урны ВУ.2', 'Вкладыш для урны ВУ.5']
			- products__names = ['Круглый вкладыш для бетонной урны оцинкованный', 'Квадратный вкладыш для бетонной урны оцинкованный', 'Треугольный вкладыш для бетонной урны оцинкованный']
			- products__href = ['PSH_201', 'PSH_201', 'PSH_201']
			- products__dest = 'urni/'
			- products__images = ['round', 'square', 'triangle']
			- products__chars = ['Объём', 'Вес']
			- products__values = [['25л', '1кг'], ['20л', '1кг'], ['20л', '1кг']]
			- products__prices = ['499', '-', '-']
			- products__stage = ['-', '-', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])


	- var this_desc_title = 'Описание "Бетонные урны"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Бетонные урны предназначены для сбора мусора на улицах города, в парках и скверах, у магазинов и торговых центров.</p><p>Мусорные урны из бетона относятся к малым архитектурным формам. Помимо практического применения они бесспорно являются украшением Вашей территории.</p><p>Бетонные урны могут иметь разные габаритные размеры и вес. Наиболее популярным является размер урны 400х400х520мм. Этим габаритам соответствует вес урны 110кг. Урна меньшего размера имеет меньшую вместительность, а значит – меньшую практичность. Также существуют более габаритные и тяжелые уличные урны для мусора, фотографии и характеристики которых Вы можете найти в нашем прайс-листе.</p><p>Форма бетонной урны, также как и её боковой рисунок, имеют чисто эстетическое значение. При большом объеме заказа мы можем нанести на боковую поверхность МАФ логотип Вашей компании.</p><p>Стандартный цвет бетонной урны – белый или серый. Опционально мы можем покрасить урну в любой цвет каталога RAL, например, в желтый, красный, синий или зеленый. Таким образом, Ваше изделие будет абсолютно уникальным.</p><p>Внутри уличной бетонной урны может располагаться оцинкованный вкладыш, который существенно упрощает выемку мусора из урны. Вкладыш является опциональным и приобретается за отдельную плату.</p><p>В нижней части бетонной урны расположено отверстие для слива осадков. Также опционально можно проделать в урне дополнительные отверстия для анкерного крепления к асфальту.</p><p>При производстве бетонных урн мы не экономим на качестве материалов и используем самые лучшие компоненты при приготовлении бетона: цемент марки М500, гранитный щебень фракции 5-20мм, морской песок и специальный пластификатор. Благодаря этому гарантируется высокая прочность и долговечность изделий.</p><p>На складе нашей компании всегда находится большое количество бетонных урн. <b>Мы предложим Вам самую лучшую цену</b> на данный вид МАФ, поскольку сами являемся производителем! В этом Вы можете убедиться лично, приехав к нам в гости.</p><p>Также мы готовы обеспечить оперативную доставку и установку бетонных урн на Ваши объекты. Подробную информацию о стоимости Вашего заказа Вы можете узнать по телефону или по электронной почте. Наши менеджеры рассчитают стоимость бетонных изделий, их доставки и установки. Для выставления счета необходимо прислать реквизиты Вашей компании.</p><p>С бетонными урнами часто заказывают <a href="#">парковочные полусферы</a>, <a href="#">парковые скамейки</a> и <a href="#">цветочные вазоны</a>.'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)