extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Бетонные вазоны

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Вазоны'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Вазоны') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			- var products__attrs = ['Вазон бетонный ВБ.1', 'Вазон бетонный ВБ.2', 'Вазон бетонный ВБ.3', 'Вазон бетонный ВБ.4', 'Вазон бетонный ВБ.5', 'Вазон бетонный ВБ.6', 'Вазон бетонный ВБ.7', 'Вазон бетонный ВБ.8', 'Вазон бетонный ВБ.9', 'Вазон бетонный ВБ.10', 'Вазон бетонный ВБ.11', 'Вазон бетонный ВБ.12']
			- var products__names = ['Вазон бетонный уличный квадратный', 'Вазон бетонный уличный шестиугольный', 'Вазон бетонный уличный круглый', 'Вазон бетонный уличный прямоугольный', 'Вазон бетонный уличный квадратный', 'Вазон бетонный уличный квадратный', 'Вазон бетонный уличный квадратный', 'Вазон бетонный уличный квадратный', 'Вазон бетонный уличный квадратный', 'Вазон бетонный уличный прямоугольный', 'Вазон бетонный уличный прямоугольный', 'Вазон бетонный уличный прямоугольный']
			- var products__href = ['PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201', 'PSH_201']
			- var products__dest = 'vazoni/'
			- var products__images = ['square', '6side', 'round', 'rect', 'square', 'square', 'square', 'square', 'square', 'rect', 'rect', 'rect', '1']
			- var products__chars = ['Размеры', 'Вес']
			- var products__values = [['400х400х400', '85кг'], ['800х800х420', '190кг'], ['700х700х420', '125кг'], ['1200х350х400', '170кг'], ['750х750х420', '205кг'], ['750х750х420', '205кг'], ['750х750х420', '205кг'], ['750х750х420', '205кг'], ['750х750х420', '205кг'], ['1200х350х400', '170кг'], ['1200х350х400', '170кг'], ['1200х350х400', '170кг']]
			- var products__prices = ['1299', '3999', '3999', '2499', '3499', '3499', '3499', '3499', '3499', '3499', '3499', '3499']
			- var products__stage = ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

			- for (var i = 0; i < products__names.length; i++)
				+products__item(
					products__attrs[i],
					products__names[i],
					products__href[i],
					products__dest,
					products__images[i],
					products__chars,
					products__values[i],
					products__prices[i],
					products__stage[i])

	- var this_desc_title = 'Описание "Бетонные вазоны"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Бетонные вазоны предназначены для посадки цветов и мелких растений на улицах города, в парках и скверах, у магазинов и торговых центров.</p><p>Цветочные вазоны  из бетона относятся к малым архитектурным формам (МАФ). Они бесспорно являются украшением Вашей территории.</p><p>Бетонные вазоны могут иметь разные габаритные размеры, вес и форму. Наиболее популярным является размер вазоны 1200х350х400мм. Этим габаритам соответствует вес  цветочницы 170кг. Бетонные вазоны вытянутой формы зачастую используются в качестве антипарковочных ограждений, для того чтобы ограничить территорию от проезда и парковки автотранспорта.</p><p>Помимо вытянутых в длину парковых вазонов мы производим также цветочницы круглой, шестигранной и квадратной формы. Фотографии, габаритные размеры и вес вазонов можно посмотреть в прайс-листе нашей компании. Посмотреть на изделия «вживую» Вы можете на нашем производстве.</p><p>Боковой рисунок на поверхности вазона имеет чисто эстетическое значение. Мы предлагаем как цветочницы с рисунком, так и без него. При желании опционально возможно нанесение на боковую поверхность вазона логотипа Вашей компании.</p><p>Стандартный цвет бетонного вазона – белый или серый. Опционально мы можем покрасить парковую цветочницу в любой цвет каталога RAL, например, в оранжевый, красный, черный, синий или зеленый. Таким образом, Ваши изделия будут абсолютно уникальными.</p><p>Внутри уличного вазона расположено дренажное отверстие для слива осадков. Также при желании можно проделать в бетонной цветочнице дополнительные отверстия для анкерного крепления к асфальту. Это предотвратит возможное перемещение МАФ.</p><p></p><p>При производстве бетонных вазонов мы не экономим на качестве материалов и используем самые лучшие компоненты при приготовлении бетона: цемент марки М500, гранитный щебень фракции 5-20мм, морской песок и специальный пластификатор. Благодаря этому гарантируется высокая прочность и долговечность изделий. Бетонные вазоны могут быть покрашены фасадной краской Pufas (производство Германия) или масляной краской Jotun (производство Норвегия). Использование качественной краски – залог привлекательного внешнего вида во время всего срока эксплуатации.</p><p>На складе нашей компании всегда находится большое количество бетонных вазонов. <b>Мы предложим Вам самую лучшую цену</b> на данный вид МАФ, поскольку сами являемся производителем! В этом Вы можете убедиться лично, приехав к нам в гости.</p><p>Также мы готовы обеспечить оперативную доставку и установку бетонных вазонов на Ваши объекты.</p><p>Подробную информацию о стоимости Вашего заказа Вы можете узнать по телефону или по электронной почте. Наши менеджеры рассчитают стоимость бетонных цветочниц, их доставки и установки. Для выставления счета необходимо прислать реквизиты Вашей компании.</p><p>С цветочными вазонами часто заказывают <a href="#">бетонные полусферы</a>, <a href="#">парковые скамейки</a> и <a href="#">урны для мусора</a>.</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)